{
  "ConnectionStrings": {
    "DatabaseConnection": ""
  },
  "Cosmos": {
    "RedisCache": {
      "ConnectionString": "{{.CS_REDIS_CACHE_CONNECTION_STRING}}"
    }
  },
  "ServiceUrls": {
    "Baz":"{{.CS_BAZ_SERVICE_URL}}"
  }
}
